*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
     --color-primary: #6c63ff;
     --color-success: #00bf8e;
     --color-warning: #f7c94b;
     --color-danger: #f75842;
     --color-danger-variant: rgba(247, 88, 66, 0.4);
     --color-white: #fff;
     --color-light: rgba(255, 255, 255, 0.7);
     --color-black: #000;
     --color-bg: #1f2641;
     --color-bg1: #2e3267;
     --color-bg2: #424890;


     --container-width-1g: 80%;
     --container-width-md: 90%;
     --container-width-5m: 94%;

     --transition: all 400ms ease;
}

/*CONTACT SECTION*/

.contact_container{
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

.contact_aside{
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

/* ASIDE SECTION*/

.aside_image{
    width: 12rem;
    margin-bottom: 2rem;
}

.contact_aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contact_aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact_details li{
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contact_social{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_social a{
    background: var(--color-bg2);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact_social a:hover{
    background: transparent;
}

/* CONTACT SECTION */

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 4rem;
}

.form_name{
    display: flex;
    gap: 1.2rem;
}

.contact_form input[type="text"]{
    width: 50%;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}

.contact_form .btn{
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
}

/*RESPONSIVE DESKTOP SIZE SECTION*/

@media screen and (max-width: 1024px) 
{
    
    .contact_container{
        gap: 1rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact_form{
        align-items: center;
        margin-right: 1.5rem;
    }
}

/*RESPONSIVE PHONE SIZE SECTION*/

@media screen and (max-width: 600px) {
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact_form{
        margin: 0 1.5rem 3rem;
    }

    .form_name{
        flex-direction: column;
    }
    .form_name input [type="text"]{
        width: 100%;
    }
    
}
